Source: on-twitterbot
Section: net
Priority: optional
Maintainer: Mathias Mahnke (Opennet Initiative e.V.) <ap27@opennet-initiative.de>
Standards-Version: 3.9.8
Homepage: https://opennet-initiative.de/wiki/Twitter
Vcs-Git: https://dev.opennet-initiative.de/git/on_twitterbot.git
Vcs-Browser: http://dev.opennet-initiative.de/browser/on_twitterbot

Package: on-twitterbot
Architecture: all
Depends: adduser, python3, python3-feedparser, python3-twython, python3-html2text, ${misc:Depends}
Description: Twitterbot for the "Opennet Initiative".
 Provide automatic twitter export function for Opennet Blog.
